body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    cursor: url("../images/rocket.png"), auto;
    user-select: none;
}

#countdown {
    width: 90%;
    max-width: 465px;
    z-index: 16;
    height: 140px;
    text-align: center;
    background: #222;
    background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
    background-image: -moz-linear-gradient(top, #222, #333, #333, #222);
    background-image: -ms-linear-gradient(top, #222, #333, #333, #222);
    background-image: -o-linear-gradient(top, #222, #333, #333, #222);
    border: 1px solid #111;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    padding: 24px 0;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media(max-width: 500px) {
    #countdown {
        margin-top: 0px;
    }
}

#countdown:before {
    content: "";
    width: 8px;
    height: 65px;
    background: #444;
    background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
    background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
    background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
    background-image: -o-linear-gradient(top, #555, #444, #444, #555);
    border: 1px solid #111;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: block;
    position: absolute;
    top: 48px;
    left: -10px;
}

#countdown:after {
    content: "";
    width: 8px;
    height: 65px;
    background: #444;
    background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
    background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
    background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
    background-image: -o-linear-gradient(top, #555, #444, #444, #555);
    border: 1px solid #111;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: block;
    position: absolute;
    top: 48px;
    right: -10px;
}

#countdown #tiles {
    position: relative;
    z-index: 1;
}

#countdown #tiles>span {
    width: 19%;
    max-width: 92px;
    font: bold 250% 'Droid Sans', Arial, sans-serif;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    text-align: center;
    color: #111;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #bbb, #eee);
    background-image: -moz-linear-gradient(top, #bbb, #eee);
    background-image: -ms-linear-gradient(top, #bbb, #eee);
    background-image: -o-linear-gradient(top, #bbb, #eee);
    border-top: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    margin: 0 7px;
    padding: 3% 0;
    display: inline-block;
    position: relative;
}

#countdown #tiles>span:before {
    content: "";
    width: 100%;
    height: 13px;
    background: #111;
    display: block;
    padding: 0 3px;
    position: absolute;
    top: 41%;
    left: -3px;
    z-index: -1;

}

#countdown .labels {
    width: 100%;
    height: 25px;
    text-align: center;
    position: absolute;
    bottom: 8px;
}

#countdown .labels li {
    width: 22%;
    font: bold 15px 'Droid Sans', Arial, sans-serif;
    color: #ccc;
    text-shadow: 1px 1px 0px #000;
    text-align: center;
    user-select: none;
    text-transform: uppercase;
    display: inline-block;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000;
    z-index: 16;
}

#preloader {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    background: white !important;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1005;
}

svg {
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.ml1 {
    font-weight: 900;
    font-size: 2.5em;
}

.letters {
    color: #26292D;
}

.ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #26292D;
    transform-origin: 0 0;
}

.ml1 .line1 {
    top: 0;
}

.ml1 .line2 {
    bottom: 0;
}

.menu {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 46px;
    width: 46px;
    z-index: 1003;
}

.menu-circle {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1000;
}

.menu:hover .menu-circle {
    transform: scale(1.4);
}

.menu.open .menu-circle {
    transform: scale(5);
}

.menu-link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1002;
}

.menu-icon {
    position: absolute;
    width: 20px;
    height: 14px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 1px;
}

.menu-line {
    background-color: #333;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-line-1 {
    top: 0;
}

.menu-line-2 {
    top: 0;
    bottom: 0;
    margin: auto;
}

.menu-line-3 {
    bottom: 0;
}

.menu.open .menu-line-1 {
    transform: translateY(7px) translateY(-50%) rotate(-135deg);
}

.menu.open .menu-line-2 {
    opacity: 0;
}

.menu.open .menu-line-3 {
    transform: translateY(-7px) translateY(50%) rotate(135deg);
}

.menu-overlay {
    background-color: #fff;
    color: #333;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in-out;
    z-index: 1001;
}

.menu-overlay.open {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.03s;
}

.menu-overlay a {
    font-size: 2.5rem;
    color: grey;
    font-weight: bold;
    position: relative;
    padding: 10px !important;
    border-color: white;
    border-style: solid;
}

.menu-overlay a:hover {
    color: white;
}

.menu-overlay a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: black;
    z-index: -1;
    transition: transform 0.3s;
}

.menu-overlay a:hover::after {
    transform: scaleY(1);
    color: white;
}

.menu-overlay .active {
    background: white;
    color: black;
}

.active:hover {
    color: black !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #5E6366;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #212121;
}

.team-members {
    position: relative;
    z-index: 16;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
    background: black !important;
}

.section-heading {
    position: relative;
    color: white !important;
    z-index: 16 !important;
}

.section-heading-underline {
    position: relative;
    width: 40px;
    height: 25px;
    z-index: 16;
    object-fit: cover;
    margin-bottom: 50px;
}

.fixed-overlay {
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 16;
}

#demoimage {
    border-radius: 25%;
    object-fit: fill;
    filter: grayscale(100%) opacity(0.7);
}

.text-v-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-image {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white !important;
}

.college-icon-holder {
    height: 200px;
    z-index: 16 !important;
    position: relative;
    pointer-events: none;
}

.college-icon-holder img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.no-events {
    pointer-events: none;
}

.google-play {
    margin-top: 50px;
    /* margin-top: 100px; */
    position: relative;
    z-index: 16 !important;
    transform: scale(1.5)
}

.about-vnrvjiet {
    position: relative;
    z-index: 16;
    pointer-events: none;
    margin-bottom: 60px;
}

.about-convergence {
    position: relative;
    z-index: 16;
    pointer-events: none;
    flex-direction: row-reverse;
}

.about-convergence img,
.about-vnrvjiet img {
    height: 75%;
    width: 75%;
    object-fit: contain;
    margin-bottom: 20px;
}

.text-v-center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.v-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

#home {
    height: 100vh!important;
}

#aboutus {
    padding-left: 40px!important;
    padding-right: 40px!important;
}