body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    cursor: url("../images/rocket.png"), auto;
    user-select: none;
}

#events {
    z-index: 16;
    position: relative;
}
.navbar-nav {
    position: static;
}
#events ul {
    padding-left: 0;
    list-style-type: none;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
#themes-list li {
    float: left;
    padding: 0 20px;
    margin: 0 auto;
    font-size: 25px;
}

.card-container {
    perspective: 600px;
    position: relative;
    height: 25vw;
    min-height: 200px;
}

@media(max-width:767.5px) {
    .card-container {
        height: 35vw;
    }
}

@media(max-width:575.5px) {
    .card-container {
        height: 65vw;
    }
}

#events ul .active {
    color: white;
    text-decoration: underline;
}

#events ul .active:hover {
    color: white !important;
}

#events li {
    transform: scale(1);
    transition: .4s ease-in-out;
}

#events li:hover {
    color: white !important;
    transform: scale(1.2);
    transition: .4s ease-in-out;
}

.card-container img {
    padding: 5px 10%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    border: 0;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
    background: none;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.card .side {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}
#events .container {
    padding-left: 0;
}
.card .back {
    background: #eaeaed;
    color: #0087cc;
    line-height: 150px;
    text-align: center;
    transform: rotateY(180deg);
}

#countdown {
    width: 90%;
    max-width: 465px;
    z-index: 16;
    height: 140px;
    text-align: center;
    background: #222;
    background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
    background-image: -moz-linear-gradient(top, #222, #333, #333, #222);
    background-image: -ms-linear-gradient(top, #222, #333, #333, #222);
    background-image: -o-linear-gradient(top, #222, #333, #333, #222);
    border: 1px solid #111;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    padding: 24px 0;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media(max-width: 500px) {
    #countdown {
        margin-top: 0px;
    }
}

#countdown:before {
    content: "";
    width: 8px;
    height: 65px;
    background: #444;
    background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
    background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
    background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
    background-image: -o-linear-gradient(top, #555, #444, #444, #555);
    border: 1px solid #111;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: block;
    position: absolute;
    top: 48px;
    left: -10px;
}

#countdown:after {
    content: "";
    width: 8px;
    height: 65px;
    background: #444;
    background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
    background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
    background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
    background-image: -o-linear-gradient(top, #555, #444, #444, #555);
    border: 1px solid #111;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: block;
    position: absolute;
    top: 48px;
    right: -10px;
}

#countdown #tiles {
    position: relative;
    z-index: 1;
}

#countdown #tiles>span {
    width: 19%;
    max-width: 92px;
    font: bold 250% 'Droid Sans', Arial, sans-serif;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    text-align: center;
    color: #111;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #bbb, #eee);
    background-image: -moz-linear-gradient(top, #bbb, #eee);
    background-image: -ms-linear-gradient(top, #bbb, #eee);
    background-image: -o-linear-gradient(top, #bbb, #eee);
    border-top: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    margin: 0 7px;
    padding: 3% 0;
    display: inline-block;
    position: relative;
}

#countdown #tiles>span:before {
    content: "";
    width: 100%;
    height: 13px;
    background: #111;
    display: block;
    padding: 0 3px;
    position: absolute;
    top: 41%;
    left: -3px;
    z-index: -1;

}

#countdown .labels {
    width: 100%;
    height: 25px;
    text-align: center;
    position: absolute;
    bottom: 8px;
}

#countdown .labels li {
    width: 22%;
    font: bold 15px 'Droid Sans', Arial, sans-serif;
    color: #ccc;
    text-shadow: 1px 1px 0px #000;
    text-align: center;
    user-select: none;
    text-transform: uppercase;
    display: inline-block;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000;
    z-index: 16;
}

#preloader {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    background: white !important;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1005;
}

svg {
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.ml1 {
    font-weight: 900;
    font-size: 2.5em;
}

.letters {
    color: #26292D;
}

.ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #26292D;
    transform-origin: 0 0;
}

.ml1 .line1 {
    top: 0;
}

.ml1 .line2 {
    bottom: 0;
}
.Wmenu {
    position: fixed;
    z-index: 1000;
}

.menu {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 46px;
    width: 46px;
}

.menu-circle {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu:hover .menu-circle {
    transform: scale(1.4);
}

.menu.open .menu-circle {
    transform: scale(5);
}

.menu-link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
}

.menu-icon {
    position: absolute;
    width: 20px;
    height: 14px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 1px;
}

.menu-line {
    background-color: #333;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-line-1 {
    top: 0;
}

.menu-line-2 {
    top: 0;
    bottom: 0;
    margin: auto;
}

.menu-line-3 {
    bottom: 0;
}

.menu.open .menu-line-1 {
    transform: translateY(7px) translateY(-50%) rotate(-135deg);
}

.menu.open .menu-line-2 {
    opacity: 0;
}

.menu.open .menu-line-3 {
    transform: translateY(-7px) translateY(50%) rotate(135deg);
}

.menu-overlay {
    background-color: #fff;
    color: #333;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in-out;
/*    z-index: 1000;*/
}

.menu-overlay.open {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.03s;
}
.menu-overlay a {
    font-size: 2.5rem;
    color: grey;
    font-weight: bold;
    position: relative;
    padding: 10px !important;
    border-color: white;
    border-style: solid;
}

.menu-overlay a:hover {
    color: white;
}

.menu-overlay a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: black;
    z-index: -1;
    transition: transform 0.3s;
}

.menu-overlay a:hover::after {
    transform: scaleY(1);
    color: white;
}

.menu-overlay .active {
    background: white;
    color: black;
}

.active:hover {
    color: black !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #5E6366;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #212121;
}

.team-members {
    position: relative;
    z-index: 16;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
    background: black!important;
}

.section-heading {
    position: relative;
    color: white !important;
    z-index: 16 !important;
}

.section-heading-underline {
    position: relative;
    width: 40px;
    height: 25px;
    z-index: 16;
    object-fit: cover;
    margin-bottom: 50px;
}

.fixed-overlay {
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 16;
}
#team {
    position: relative;
    z-index: 16;
    overflow: hidden;
    background: transparent!important;
}

.text-v-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white !important;
}

.college-icon-holder {
    height: 200px;
    z-index: 16 !important;
    position: relative;
    pointer-events: none;
}

.college-icon-holder img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.no-events {
    pointer-events: none !important;
}

.google-play {
    margin-top: 50px;
    /* margin-top: 100px; */
    position: relative;
    z-index: 16 !important;
    transform: scale(1.5)
}

.about-vnrvjiet {
    position: relative;
    z-index: 16;
    pointer-events: none;
    margin-bottom: 60px;
}

.about-convergence {
    position: relative;
    z-index: 16;
    pointer-events: none;
    flex-direction: row-reverse;
}

.about-convergence img,
.about-vnrvjiet img {
    height: 75%;
    width: 75%;
    object-fit: contain;
    margin-bottom: 20px;
}

.text-v-center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.v-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

#home {
    height: 100vh !important;
}

#aboutus {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

#aboutus h4 {
    width: 100%;
    word-wrap: break-word!important;
}

.contact-content {
    z-index: 16;
    position: relative;
}

.contact-content iframe {
    width: 100%;
    height: 50vh;
}

.contact-content .row,
.contact-content .col-lg-6 {
    margin-top: 5%;
}

.container-fluid {
    background: transparent;
}

.fa {
    padding: 20px;
    font-size: 30px !important;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border: 1px #3B5998 solid;
    transition: all .4s ease-in-out;
}

.emailus a {
    font-size: 25px;
}

.fa-facebook:hover {
    text-decoration: none;
    color: #3B5998;
    background: white;
    transition: all .4s ease-in-out;
}

.fa-instagram {
     background: #125688; 
background: radial-gradient(circle at 30% 107%,#fdf497 0%,#fdf497 5%,#fd5949
45%,#d6249f 60%,#285AEB 90%);
color: white;
border: 1px #125688 solid;
transition: all .4s ease-in-out;
}

.fa-instagram:hover {
    color: #125688;
    text-decoration: none;
    background: white;
    transition: all .4s ease-in-out;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: 1px #fffc00 solid;
    transition: all .4s ease-in-out;
}

.fa-snapchat-ghost:hover {
    color: #fffc00;
    background: white;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transition: all .4s ease-in-out;
}

.snapchat-code {
    z-index: 17;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
}

.snapchat-code img {
    width: 50vh;
    height: 50vh;
}

.event-theme a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.event-cards {
    display: none;
}

.active-cards {
    display: flex;
}

.team-container {
    perspective: 1200px;
    margin-bottom: 20px;
    z-index: 16;
    height: 100%;
}

.team-card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.team-container:hover .team-card {
    transform: rotateX(180deg);
}

.event-cards .team-container:hover .team-card {
    transform: rotateY(180deg);
}

.team-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px !important;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px !important;
}

.face.back {
    transform: rotateX(180deg);
    background-color: white;
    padding: 10px;
}

.event-cards .face.back {
    transform: rotateY(180deg);
}

.face {
    word-wrap: break-word;
}

.back * {
    text-align: center;
    width: 100%;
    color: black !important;
}

.back h3 {
    font-weight: bold !important;
}

.object-contain {
    object-fit: cover;
}

.event-cards .front {
    background: white;
}

#sponsors * {
    z-index: 16;
}

#sponsors .col-6 {
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

#sponsors .col-6 img {
    margin-bottom: 15px;
    object-fit: fill;
}