body {
  background: black;
}

.no-events {
    pointer-events: none !important;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000;
    z-index: 16;
}

.text-v-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
    background: black !important;
}

.section-heading {
    position: relative;
    color: white !important;
    z-index: 16 !important;
}

.section-heading-underline {
    position: relative;
    width: 40px;
    height: 25px;
    z-index: 16;
    object-fit: cover;
    margin-bottom: 50px;
}

.team-container {
    perspective: 1200px;
    margin-bottom: 20px;
    z-index: 16;
}

.team-card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.team-container:hover .team-card {
    transform: rotateX(180deg);
}

.team-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px!important;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px!important;
}

.face.back {
    transform: rotateX(180deg);
    background-color: white;
    padding: 10px;
}

.face {
  word-wrap: break-word;
}

.back * {
  text-align: center;
  width: 100%;
  color: black!important;
}

.back h3 {
  font-weight: bold!important;
}
